*{
    padding: 0;
    margin: 0; 
}
body{
    background-color: lightblue;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin-top: 20px;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.time-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    gap: 20px;
}

.time-container span{
    font-size: 65px;
    color: red;
}

.clock{
    border: 5px solid #000000;
    border-radius: 30px;
    margin: 20px;
    margin-top: 60px;
    background-color: #000000;
    color: #00FF88;
}
.date-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    gap: 20px;  
    padding: 20px;
    
}